@font-face {
   font-family: 'Geologica-Bold';
   font-display: swap;
   src: url('file:///C:/Users/Windows/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-09-09_171511/fonts/Geologica-Bold/font.ttf');
}
